/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;

    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Top container styles  */
.top-container{
    height: 646px;
    width: 1321px;
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
    margin-top: 50px;
}
.text-header{
    color: white;
    height: 424px;
    width: 531px;
    margin-left: 100px;
    margin-top: 50px;
}
.text-header h1{
    font-weight: bold;
    font-size: 70px;
    margin-bottom: 20px;
    line-height: 80px;
}

/* Animated button styles  */
.text-header button{
    font-size: 20px;
    background: #fa7575;
    color: #fff;
    border: 0.25rem solid #fa7575;
    border-radius: 5px;
    height: 57px;
    width: 187px;
}
.text-header button:hover{
    color: #fcfffd;
}
.text-header button::after{
    content: "";
    background: #ffdce1;
    position: absolute;
    z-index: -1;
    padding: 0.85em 0.75em;
    display: block;
}
.text-header button[class^="slide"]::after {
    transition: all 0.35s;
}
.text-header button[class^="slide"]:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all 0.35s;
}
.text-header button.slide_from_left::after {
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
}
.text-header a{
    text-decoration: none;
    color: white;
}
.text-header p{
    font-size: 16px;
    margin-bottom: 30px;
}

.text-header .fa-chevron-right.arrow{
    margin-left: 5px;
}
.thumbnail img{
    height: 613px;
    width: 581;
    margin-top: 50px;
    margin-left: 100px;
}
.header-box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 50px;
}


/* Middle container styles  */
.middle-container{
    display: flex;
    justify-content: center;
    height: 646px;
    width: 1321px;
    margin-top: 100px;
    margin-bottom: 650px;
}
.middle-container2{
    display: flex;
    justify-content: center;
    height: 646px;
    width: 1321px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.match-updates{
    background-color: black;
    border-radius: 10px;
    height: 312px;
    width: 25%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
}
.match-updates a{
    text-decoration: none;
}

.button-key{
    height: 64px;
    width: 252px;
    margin: 10px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    
}

.match-schedule{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
}
.match-details h3{
    text-align: center;
    margin-top: 15px;
}
.flag-details{
    text-align: center;
    margin-top: 20px;
}
.transfer{
    font-size: 16px;
    height: 32px;
    width: 100px;
    background-color: white;
    border-radius: 5px;
    margin-top: 20px;
    border: 1px solid #161616;
    margin-left: 20px;
    
}
.game-time{
    border: 2px solid #E8E8E8;
    height: 362px;
    width: 312px;
    border-radius: 10px;
}
.game-flag{
    border: 2px solid #E8E8E8;
    height: 242px;
    width: 312px;
    border-radius: 10px;
}
.match-icons{
    display: flex;
    margin-left: 20px;
    margin-bottom: 20px;
    color: rgb(78, 74, 74);
    font-weight: 400;
}
.match-icons .fa-comment-o.text{
    margin-left: 30px;
}
.flag-image{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 40px;
}

/* footer styles  */
footer{
    height: 446px;
    width: 1519px;
    background-color: #161616;
}
footer h1{
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 100px;
}
footer hr{
    width: 1320px;
}
.footer-details{
    margin: 50px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    
}
.footer-details a{
    color: #B9B9B9;
    text-decoration: none;
}
.social-links{
    text-align: center;
}
.social-links a{
    color: white;
    font-size: 30px;
}
/* footer styles end  */

/* media quesries for responsive website layout */
@media only screen and (max-width: 688px) {
    body{
        display: flex;
    }
    














}